@using SummerPractice2026Blazor.Components.Shared
@using SummerPractice2026Blazor.Repository.Entities
@using SummerPractice2026Blazor.Services
@inject ICartService CartService

<div class="article-card">
  <div class="price">@Item.Price.ToString("0.0")$</div>

  <img src="@Item.ImageUrl" alt="@Item.Name" />

  <h3>@Item.Name</h3>

  <Button Class="add-cart" OnClick="AddToCart">
    @(added ? "Added" : "Add to cart")
  </Button>

  <p>@Item.Description</p>
</div>

@code {
    [Parameter, EditorRequired]
    public Article Item { get; set; }

    private bool added;

    private async Task AddToCart()
    {
        await CartService.AddToCartAsync(Item.Id);
        added = true;
    }
}